@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

*{
    font-family: 'Cabin', sans-serif;
    
}
:root{
    --main-color: #960046;
}

header{
    background-color: var(--main-color);
}
nav .nav-link{
    color: rgb(241, 241, 241);
    margin: 0 20px !important;
    letter-spacing: 1px !important;
}
nav .nav-link:hover{
    color: white;
}
.shopping-cart span {
    transform: translate(-64%,-77%)!important;
}
#jewelry span{
    transform: translate(-64%,-77%)!important;
}

.latest-product button:hover{
    color: var(--main-color);
}
.load-btn button:hover{
    color: rgb(17, 17, 17) !important;
}
.new-arrivals{
    background-color: var(--main-color);
    overflow: hidden;
}
.new-arrivals button{
    background-color: var(--main-color);
    color: white;
}
.new-arrivals button:hover{
    background-color: white;
    color: var(--main-color);
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  footer{
    background-color: var(--main-color) !important;
  }

  .footer-logo img{
    width: 100px !important;
  }

  footer .company-name{
    color: var(--main-color);
  } 






@media screen and (max-width: 850px) {
    #jewelry span{
        transform: translate(-410%,7%)!important;
    }
}
@media screen and (max-width: 991px) {
    #jewelry span{
        transform: translate(-640%,7%)!important;
    }
}
  @media (max-width: 760px) {
    .swiper-slide {
      width: 100% !important;
      display:grid !important;
      grid-template-columns: 1fr, 1fr !important;
    }
  }


@media only screen and (max-width: 770px) {
    .logo{
        width: 100px !important;
    }
}
